{
  "presets": [
    "babel-preset-react-native",
    "module:react-native-dotenv"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ],
    [
      "babel-plugin-styled-components"
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "babel-plugin-styled-components"
      ]
    }
  }
}