{
  "presets": ["babel-preset-expo", "react-native-dotenv"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }],
    ["babel-plugin-styled-components"]
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source", "babel-plugin-styled-components"]
    }
  }
}
