{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:promise/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "plugins": [
    "react",
    "react-native",
    "jest",
    "flowtype-errors",
    "flowtype",
    "promise",
    "i18next"
  ],
  "env": {
    "node": true,
    "es6": true,
    "react-native/react-native": true,
    "jest/globals": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "arrow-body-style": ["off"],
    "arrow-parens": ["off"],
    "func-names": ["off"],
    "flowtype/require-valid-file-annotation": ["error", "always"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "class-methods-use-this": [0],
    "react/prop-types": [0],
    "react/require-default-props": [0],
    "promise/always-return": [0],
    "promise/avoid-new": ["off"],
    "max-len": ["error", 120, {"ignoreUrls": true}],
    "import/no-extraneous-dependencies": ["error", {"packageDir": "./"}],
    "import/no-unresolved": ["off"],
    "import/extensions": ["off"],
    "no-case-declarations": ["off"],
    "import/prefer-default-export": ["off"],
    "react/no-array-index-key": ["off"],
    "react/no-unused-prop-types": ["off"],
    "react/sort-comp": ["off"],
    "no-underscore-dangle": ["off"],
    "no-confusing-arrow": ["off"],
    "no-plusplus": ["off"],
    "function-paren-newline": [0],
    "no-param-reassign": ["off"],
    "react/default-props-match-prop-types": ["off"],
    "react/no-did-mount-set-state": ["off"],
    "i18next/no-literal-string": ["error", {
      "markupOnly": true,
      "ignore": ["ios", "android"],
      "ignoreCallee": [
        "t",
        "require",
        "get",
        "jest.mock",
        "Dimensions.get",
        "saveDbAction",
        "getInstance",
        "printLog",
        "reportLog",
        "reportToSentry",
        "lockScreenAction"
      ],
      "ignoreAttribute": [
        "backgroundColor",
        "resizeMode",
        "resizeMethod",
        "icon",
        "name",
        "padding",
        "margin",
        "fontIcon",
        "horizontalAlign",
        "fill",
        "fill-rule",
        "animationIn",
        "animationOut",
        "marginBottom",
        "strokeLinecap",
        "stroke",
        "strokeLineCap",
        "align",
        "keyboardShouldPersistTaps",
        "ellipsizeMode",
        "shadowColorAndroid",
        "mode",
        "viewBox",
        "gradientStart",
        "gradientEnd",
        "underlineColorAndroid",
        "fontIcon",
        "swipeDirection",
        "iconName",
        "key",
        "iconImageResizeMode",
        "url",
        "strokeColor",
        "leftIconName",
        "listKey",
        "htmlEndpoint",
        "keyboardType",
        "alignItems",
        "contentAlign",
        "androidVariant"
      ],
      "ignoreComponent": ["MnemonicPhraseWordText"],
      "ignoreProperty": [
        "id",
        "gasLimit",
        "gasPrice",
        "WETH",
        "router"
      ]
//      "validateTemplate": true
    }]
  },
  "overrides": [
    {
      "files": ["*.test.js", "*.stories.js", "constants/*.js"],
      "rules": {
        "i18next/no-literal-string": "off"
      }
    }
  ]
}
