{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:promise/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "plugins": [
    "react",
    "react-native",
    "jest",
    "flowtype-errors",
    "flowtype",
    "promise",
    "i18next"
  ],
  "env": {
    "node": true,
    "es6": true,
    "react-native/react-native": true,
    "jest/globals": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "arrow-body-style": ["off"],
    "arrow-parens": ["off"],
    "func-names": ["off"],
    "flowtype/require-valid-file-annotation": ["error", "always"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "class-methods-use-this": [0],
    "react/prop-types": [0],
    "react/require-default-props": [0],
    "promise/always-return": [0],
    "promise/avoid-new": ["off"],
    "max-len": ["error", 120, {"ignoreUrls": true}],
    "import/no-extraneous-dependencies": ["error", {"packageDir": "./"}],
    "import/no-unresolved": ["off"],
    "import/extensions": ["off"],
    "no-case-declarations": ["off"],
    "import/prefer-default-export": ["off"],
    "react/no-array-index-key": ["off"],
    "react/no-unused-prop-types": ["off"],
    "react/sort-comp": ["off"],
    "no-underscore-dangle": ["off"],
    "no-confusing-arrow": ["off"],
    "no-plusplus": ["off"],
    "function-paren-newline": [0],
    "no-param-reassign": ["off"],
    "react/default-props-match-prop-types": ["off"],
    "react/no-did-mount-set-state": ["off"],
    "i18next/no-literal-string": ["error", {
      "ignore": [
        "absolute",
        "android",
        "application/json",
        "auto",
        "background-color",
        "bottom",
        "center",
        "column",
        "dashed",
        "deg",
        "elevation",
        "flex",
        "flex-end",
        "flex-start",
        "height",
        "ios",
        "kovan",
        "left",
        "min-height",
        "opacity",
        "padding",
        "position",
        "px",
        "relative",
        "right",
        "ropsten",
        "row",
        "solid",
        "space-between",
        "stretch",
        "top",
        "transparent",
        "width"
      ],
      "ignoreCallee": [
        "Buffer.from",
        "Dimensions.get",
        "Linking.openURL",
        "Platform.select",
        "Promise.reject",
        "StatusBar.setBarStyle",
        "addEventListener",
        "addListener",
        "axios.get",
        "axios.post",
        "buildApiUrl",
        "catchTransactionError",
        "debug",
        "decodeFunctionResult",
        "encodeContractMethod",
        "encodeFunctionData",
        "formData.append",
        "formatDate", // temp: till dates will be localized
        "get",
        "getColor",
        "getEthereumProvider",
        "getInstance",
        "getNavigationParam",
        "getOfferProviderLogo",
        "getTransactionCount",
        "handleError",
        "handleUrlPress",
        "jest.mock",
        "lockScreenAction",
        "log.error",
        "log.info",
        "logEvent",
        "logEventAction",
        "logScreenView",
        "logUserPropertyAction",
        "match",
        "maxBy",
        "migrate",
        "navigation.getParam",
        "offlineApiCall",
        "orderBy",
        "parseUnits",
        "printLog",
        "removeEventListener",
        "removeListener",
        "replace",
        "reportError",
        "reportLog",
        "reportOrWarn",
        "reportToSentry",
        "require",
        "saveDbAction",
        "selfAwardBadgeAction",
        "storage.get",
        "storage.save",
        "t",
        "toString",
        "uniqBy",
        "updateAppSettingsAction"
      ],
      "ignoreAttribute": [
        "align",
        "alignItems",
        "androidVariant",
        "animationIn",
        "animationOut",
        "backgroundColor",
        "contentAlign",
        "ellipsizeMode",
        "fill",
        "fill-rule",
        "fontIcon",
        "fontIcon",
        "gradientEnd",
        "gradientStart",
        "horizontalAlign",
        "htmlEndpoint",
        "icon",
        "iconImageResizeMode",
        "iconName",
        "key",
        "keyboardShouldPersistTaps",
        "keyboardType",
        "leftIconName",
        "listKey",
        "margin",
        "marginBottom",
        "mode",
        "name",
        "padding",
        "pointerEvents",
        "resizeMethod",
        "resizeMode",
        "rightIconName",
        "shadowColorAndroid",
        "statusIcon",
        "stroke",
        "strokeColor",
        "strokeLineCap",
        "strokeLinecap",
        "swipeDirection",
        "underlineColorAndroid",
        "url",
        "viewBox"
      ],
      "ignoreProperty": [
        "Accept",
        "Authorization",
        "WETH",
        "alignItems",
        "alignSelf",
        "auto",
        "autoCapitalize",
        "autoCapitalize",
        "autoComplete",
        "borderRadius",
        "bottom",
        "color",
        "ellipsizeMode",
        "emoji",
        "extrapolate",
        "flexDirection",
        "flexWrap",
        "gasLimit",
        "gasPrice",
        "icon",
        "iconBackgroundColor",
        "iconColor",
        "iconName",
        "id",
        "importantForAutofill",
        "inputType",
        "justifyContent",
        "key",
        "keyboardType",
        "keyboardType",
        "messageType",
        "mode",
        "outputRange",
        "overflow",
        "path",
        "platform",
        "position",
        "position",
        "returnKeyType",
        "rotate",
        "router",
        "sharerUrl",
        "sideFlex",
        "statusIcon",
        "style",
        "top",
        "translationKey",
        "type",
        "valueColor"
      ]
    }]
  },
  "overrides": [
    {
      "files": ["*.test.js", "*.stories.js", "*Constants.js", "__mocks__/*.js", "babel.config.js"],
      "rules": {
        "i18next/no-literal-string": "off"
      }
    }
  ]
}
