{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:promise/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native",
    "jest",
    "flowtype-errors",
    "flowtype",
    "promise"
  ],
  "env": {
    "node": true,
    "es6": true,
    "react-native/react-native": true,
    "jest/globals": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "arrow-body-style": ["off"],
    "arrow-parens": ["off"],
    "func-names": ["off"],
    "flowtype/require-valid-file-annotation": ["error", "always"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "class-methods-use-this": [0],
    "react/prop-types": [0],
    "react/require-default-props": [0],
    "promise/always-return": [0],
    "promise/avoid-new": ["off"],
    "max-len": ["error", 120, {"ignoreUrls": true}],
    "import/no-extraneous-dependencies": ["error", {"packageDir": "./"}],
    "import/no-unresolved": ["off"],
    "import/extensions": ["off"],
    "no-case-declarations": ["off"],
    "import/prefer-default-export": ["off"],
    "react/no-array-index-key": ["off"],
    "react/no-unused-prop-types": ["off"],
    "react/sort-comp": ["off"],
    "no-underscore-dangle": ["off"],
    "no-confusing-arrow": ["off"],
    "no-plusplus": ["off"],
    "function-paren-newline": [0],
    "no-param-reassign": ["off"],
    "react/default-props-match-prop-types": ["off"]
  }
}
