<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>811306482558-vgh6iv02fs9kk09qmjtscovbht5dtfq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811306482558-vgh6iv02fs9kk09qmjtscovbht5dtfq9</string>
	<key>API_KEY</key>
	<string>AIzaSyBa2iETINMfoT6RwsGvj3fKqzF5DMj2kJI</string>
	<key>GCM_SENDER_ID</key>
	<string>811306482558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pillarproject.wallet</string>
	<key>PROJECT_ID</key>
	<string>pillar-project-1506420699556</string>
	<key>STORAGE_BUCKET</key>
	<string>pillar-project-1506420699556.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811306482558:ios:b11c9bc5b2ad0ff7</string>
	<key>DATABASE_URL</key>
	<string>https://pillar-project-1506420699556.firebaseio.com</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enabling Face ID allows you quick and secure access to your account.</string>
</dict>
</plist>
